body {
    background-image: url("../images/canada.jpg");
    background-position: center;
    height: 100%;
    width: 100%;
    background-size: cover;
}

.quiz {
    color: black;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    opacity: 0.65;
    width: 900px;
    padding: 25px 40px;
}

h1 {
    font-family: cursive;
    font-size: 42px;
    font-weight: bold;
}

#remaining-time {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight: bold;
}
h4 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}

#submit {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-size: 20px;
}

#results h3 {
    background-image: url("../images/canada.jpg");
    color: white;
    padding: 10px;
}

#results span {
    color: white;
    font-weight: bold;
}